parameters:
	ignoreErrors:
		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\Apps\\:\\:get\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:changeEmail\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:changePhone\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:currentUser\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:finishWebAuthnAddDevice\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:listDevices\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:revokeDevice\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:startWebAuthnAddDevice\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\AuthenticatedUsers\\:\\:updateDevice\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/AuthenticatedUsers.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:activate\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/MagicLinks.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:login\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/MagicLinks.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:register\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/MagicLinks.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:status\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/MagicLinks.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\SessionManagement\\:\\:createRefreshToken\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/SessionManagement.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\SessionManagement\\:\\:revokeRefreshToken\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/SessionManagement.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\Users\\:\\:info\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\WebAuthn\\:\\:finishWebAuthnLogin\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/WebAuthn.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\WebAuthn\\:\\:finishWebAuthnRegister\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/WebAuthn.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\WebAuthn\\:\\:startWebAuthnLogin\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/WebAuthn.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Authentication\\\\WebAuthn\\:\\:startWebAuthnRegister\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Authentication/WebAuthn.php

		-
			message: "#^Call to static method where\\(\\) on an unknown class App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/ActivateController.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Http\\\\Controllers\\\\MagicLink\\\\ActivateController\\:\\:__invoke\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/ActivateController.php

		-
			message: "#^Parameter \\#1 \\$magicLink of method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:activate\\(\\) expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/ActivateController.php

		-
			message: "#^Access to constant HOME on an unknown class App\\\\Providers\\\\RouteServiceProvider\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/LoginController.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Http\\\\Controllers\\\\MagicLink\\\\LoginController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/LoginController.php

		-
			message: "#^Parameter \\#1 \\$identifier of method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:login\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/LoginController.php

		-
			message: "#^Access to constant HOME on an unknown class App\\\\Providers\\\\RouteServiceProvider\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/LogoutController.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Http\\\\Controllers\\\\MagicLink\\\\LogoutController\\:\\:__invoke\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/LogoutController.php

		-
			message: "#^Access to constant HOME on an unknown class App\\\\Providers\\\\RouteServiceProvider\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/RegisterController.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/RegisterController.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/RegisterController.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Http\\\\Controllers\\\\MagicLink\\\\RegisterController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/RegisterController.php

		-
			message: "#^Parameter \\#1 \\$identifier of method BombenProdukt\\\\Passage\\\\Authentication\\\\MagicLinks\\:\\:register\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Http/Controllers/MagicLink/RegisterController.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Admins\\:\\:create\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Admins.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Admins\\:\\:delete\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Admins.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Admins\\:\\:get\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Admins.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Admins\\:\\:list\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Admins.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\ApiKeys\\:\\:create\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/ApiKeys.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\ApiKeys\\:\\:delete\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/ApiKeys.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\ApiKeys\\:\\:list\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/ApiKeys.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:claim\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:create\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:delete\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:get\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:list\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Apps\\:\\:update\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Apps.php

		-
			message: "#^Class BombenProdukt\\\\Passage\\\\Management\\\\Client constructor invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/Management/Client.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\EmbeddedMagicLinks\\:\\:create\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/EmbeddedMagicLinks.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Events\\:\\:list\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Events.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:activate\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:create\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:deactivate\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:delete\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:get\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:import\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:list\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:revokeRefreshTokens\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Method BombenProdukt\\\\Passage\\\\Management\\\\Users\\:\\:update\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Management/Users.php

		-
			message: "#^Cannot access offset 'config' on Illuminate\\\\Contracts\\\\Container\\\\Container\\.$#"
			count: 1
			path: src/ServiceProvider.php
